/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // File edited 11/18/2019 by Sri Ramya Dandu: Added bootstrap
 // File edited 11/18/2019 by Sri Ramya Dandu: Added CSS to explore page
 // File edited 11/20/2019 by Sharon Qiu: Added CSS to match/unmatched page
 // File edited 11/20/2019 by Sharon Qiu: Added CSS to login page & signup page.
 // File edited 11/20/2019 by Sri Ramya Dandu: Moved CSS into separate files
 @import "bootstrap";
 /*
 .table-nonfluid {
    width: auto !important;
    margin-left: 100px;
 }*/

 .headings{
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  font-size: 3rem;
  font-variant: small-caps;
  letter-spacing: 3px;
}

 #gradient-bg{
   background-image: linear-gradient(white, rgb(153, 141, 207));
   position:fixed;
   padding:0;
   margin:0;

   top:0;
   left:0;

   width: 100%;
   height: 100%;
 }

 body{
   overflow-x:hidden;
 }