// Created 11/20/2019 by Sharon Qiu
// CSS for editing current user info.
.cancel-acc{
    display:grid;
    align-content: center;
    border-left: 3px solid;
    text-align: center;
}

.field, .actions{
    margin:3% 3% 5% 0%;
}