// Created 11/20/2019 by Sharon Qiu: CSS for forgot password page.
.push-down{
    margin-top:10%;
}

.forgot-password {
    font-size: 1em;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 3px;
    text-align: center;
}

.field, .actions {
    margin: 3%;
}
