// FIle Created 11/21/2019 by David Wing
// File Edited 11/21/2019 by Neel Mansukhani: Gloabla file for user and club interests.
.select_interests{
    margin-left:5%;
}

.form-check{
    margin-left: 1%;

}

.greeting{
    padding-bottom: 1%;
}