/*
    File Created 11/21/2019 by Neel Mansukhani
*/
.field, .actions {
    margin: 1% 1% 3% 0%;
}

.input-button{
    margin-bottom:2%;
}

.new-club {
    text-align: center;
    display: flex;
    justify-content: center;
}

.card{
    align-content: center;
    width:60%;
}