// File created 11/20/2019 by Sri Ramya Dandu

 .stats-options{
    margin: 0px 300px;
 }

 .stats-display,.user-display{
   margin: 20px;
 }

 .stats-display h1, .stats-display p, .user-display h1, .user-display p{
   text-align: center;
   font-weight: bold;
 }

 th,td{
  text-align: center;  
}

.createButton{
  margin:auto;
  display:block;
}

#line-graph{
  margin:auto;
}

.inspiration{
  font-size: 30pt;
  margin: auto;
  text-align:center;
}