/*
 * File Created 11/19/2019 by Leah Gillespie
 */

.finished-matches{
    text-align: center;
}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.7s;
    left: 0;
    top: 0;
    position: absolute;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}

.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.carousel-item.active{
    display:flex;
    justify-content: center;
}

.content{
    text-align: center;
    font-size: 20px;
}

.pointer, .pointer:hover{
    color: black;
    font-size: 30px;
}

.swipe-img{
    width: 400px;
    height: 400px;
}

.list-of-clubs-container{
    display:flex;
    justify-content: center;
}

.card-header{
    text-align: center;
    font-weight: bold;
}

.card{
    margin-left: 10px;
}
