// Place all the styles related to the user_interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.select_interests{
    margin-left:5%;
}

.form-check{
    margin-left: 1%;

}

.greeting{
    padding-bottom: 1%;
}
