 /* File Created 11/18/2019 by Sri Ramya Dandu */
//  Edited 11/21/2019 by David Wing: extended max height of interest cell cause it was really small
// Edited 11/22/2019 by Neel Mansukhani: Fixed scrollbar issue
 
 /* User show page */
 .show {
   margin: auto;
   width: 30%;
   
}
.left-side{
  margin-right: 10%;
}

.right-side {
  margin-left: 10%;
}

.card-dimensioning {
  float:right;
}

th,td{
   text-align: center;  
}

ul.interests{
   text-align: left;
   overflow: auto;
   max-height:30%;
}

.user_info {
   display: inline;
}

.table{
   width:60%;
}