 /* File Created 11/18/2019 by Sri Ramya Dandu */
 
 /* User show page */
 .show {
   margin: auto;
   width: 30%;
   
}
.left-side{
  border-right: 3px solid;
}

.card-dimensioning {
  float:right;
}

th,td{
   text-align: center;  
}

ul.interests{
   text-align: left;
   overflow:scroll;
   max-height:120px;
}

.user_info {
   display: inline;
}

.table{
   width:60%;
}