<%= stylesheet_link_tag 'home' %>

      <div id="swipeCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="list-of-clubs-container">
                    <%= image_tag(@images[0], :alt => "Not Available", :class => "swipe-img blue") %>
                    <span class="header0">
                        Welcome to<br />
                        Hubbub.
                        <div class="sub-header">
                            Hubbub was built as a platform<br />
                            to connect you with clubs <br />
                            at YOUR school
                        </div>
                    </span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="list-of-clubs-container">
                    <%= image_tag(@images[1], :alt => "Not Available", :class => "swipe-img") %>
                    <span class="header1">
                        Welcome to Hubbub.
                        <div class="sub-header">
                            Hubbub was built as a platform<br />
                            to help YOU join clubs at your school.
                        </div>
                    </span>
                </div>
            </div>
            <div class="carousel-item">
                <div class="list-of-clubs-container">
                    <%= image_tag(@images[2], :alt => "Not Available", :class => "swipe-img") %>
                    <span class="header2">
                        Welcome to Hubbub.
                        <div class="sub-header">
                            Hubbub was built as a platform<br />
                            to connect you with clubs at YOUR school
                        </div>
                    </span>
                </div>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#swipeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#swipeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        </table>
      </div>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Punny headline</h1>
            <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
</div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
    </div>
<div>
</div>
</div>
<script>
    $('#swipeCarousel').carousel({
    interval: 2000
});
</script>