<%# Edited 11/20/2019 by Sharon Qiu: Cleaned up view.%>
<div class="container">
    <a href = "/users/edit" type="button" class="btn btn-primary btn-lg btn-block update-info">Update Personal Information</a>
    <a href = "/user_interests/select_user_interests" type="button" class="btn btn-primary btn-lg btn-block update-info" >Update Interests</a>
</div>
