<%# Edited 11/20/2019 by Sharon Qiu: Cleaned up view.%>
<%= stylesheet_link_tag 'user_preferences'%>
<div class="container headings">
    <h4>Choose a setting</h4>
    <a href = "/users/edit" type="button" class="btn btn-primary btn-lg btn-block update-info">Update Personal Information</a>
    <p>or<p>
    <a href = "/user_interests/select_user_interests" type="button" class="btn btn-primary btn-lg btn-block update-info" >Update Interests</a>
</div>
