<%# File created 10/13/2019 by Sri Ramya Dandu %>

<h1> Select the stats you wish to see </h1>


<h3> Filter by Gender </h3>
<form>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other  
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 

<h3> Filter by Graduation Date </h3>
<form>
 Graduation Year:<br>
  <input type="text" name="grad_year">
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 