<%# File created 11/13/2019 by Sri Ramya Dandu 
    Edited 11/15/2019 by Sri Ramya Dandu: Edited display options%>

<h1> Select the stats you wish to see </h1>


<h3> Filter by Gender </h3>
<form action = "/users/display_stats">
  <input type="radio" name="gender" value="Male" checked> Male<br>
  <input type="radio" name="gender" value="Female"> Female<br>
  <input type="radio" name="gender" value="Other"> Other  
  <br>
  <br>
 

<h3> Filter by Graduation Date </h3>

 Graduation Year:<br>
  <input type="text" name="grad_year">
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 