<%# File created 11/13/2019 by Sri Ramya Dandu 
    Edited 11/15/2019 by Sri Ramya Dandu: Edited display options
    Edited 11/18/2019 by Sri Ramya Dandu: Edited select options %>

<h1> Select the stats you wish to see </h1>


<h3> Filter by Gender </h3>
<form action = "/users/display_stats">
  <input type="radio" name="gender" value="Male" checked> Male<br>
  <input type="radio" name="gender" value="Female"> Female<br>
  <input type="radio" name="gender" value="Other"> Other  
  <br>
  <br>
 

<h3> Filter by Graduation Date </h3>

 Graduation Year:<br>
  <input type="text" name="grad_year">
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://davidstutz.de/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<link href="https://davidstutz.de/bootstrap-multiselect/docs/css/bootstrap-3.3.2.min.css" rel="stylesheet"/>
<link href="https://davidstutz.de/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet"/>
<script src="https://davidstutz.de/bootstrap-multiselect/docs/js/bootstrap-3.3.2.min.js"></script>

<form id="form1">
  <div style="padding:20px">

    <select id="clubChoice" multiple="multiple">
      <% @clubs.each do |club| %>
        <option value= "<%= club.name%>"><%= club.name%> </option>
      <% end %>
    </select>
    
    <br /><br />

    <input type="button" id="buttonSubmit" value="Get Club Info" />
  </div>
</form>

<script>
$(function() {

  $('#clubChoice').multiselect({
    includeSelectAllOption: true
  });

  $('#buttonSubmit').click(function() {
    choice = $('#clubChoice').val() || [];
    urlStr = '/users/display_stats?';
    
    choice.forEach(function(elm){
      urlStr += '&name=' + elm;
    })
    document.writeln(urlStr)
  });
});
</script>