<%= form_with(model: club_match, local: true) do |form| %>
  <% if club_match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club_match.errors.count, "error") %> prohibited this club_match from being saved:</h2>

      <ul>
      <% club_match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
