# Created 11/11/19 David Wing

<h2>Edit <%= resource_name.to_s.humanize %></h2>


<% categories.each do |category| %>
        <%= puts "<input type="checkbox" name={category} value={category} {category}" %>
<% end %>